[Unit]
Description=Yalp Store crash reports

[Service]
User=user
WorkingDirectory=/home/user/crash-report
ExecStart=/usr/bin/java -jar /home/user/crash-report/build/libs/crash-report.jar
SuccessExitStatus=0
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target